    <div class="mt-1">
        <div class="input-group d-flex" style="max-width: 300px;">
            <input type="number" class="form-control" min="1" name="pagination" [(ngModel)]="pagination" placeholder="Enter pagination number" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="requestData()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div><br>

    <table *ngIf="data" [ngClass]="{ 'transparent-table': data.length === 0 }" class="table">
        <thead>
        <tr>
            <th>Parent ID</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Total Amount</th>
            <th>Total Paid Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data">
            <td>{{ item.id }}</td>
            <td>{{ item.sender }}</td>
            <td>{{ item.receiver }}</td>
            <td>{{ item.totalAmount }}</td>
            <td> <a [routerLink]="['/child', item.id]">{{ calculateTotalPaidAmount(item.transaction) }}</a></td>
        </tr>
        </tbody>
    </table>
