<div class="wrapper background">
       
    <header>Login</header>
    <form id="login-form" >
        <div class="field email">
            <div class="input-area">
                <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="username" placeholder="Email Username" required>
                <i class="icon fas fa-envelope"></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
        </div>
        <div class="field password">
            <div class="input-area">
                <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="password" placeholder="Password" required>
                <i class="icon fas fa-lock"></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
        </div>
        <div class="pass-txt"><a href="#">Forgot password?</a></div>
        <input class="btn" [disabled]="username.length==0 || password.length==0" (click)="login(username,password)" value="Login">
    </form>
</div>